@import "normalize";

@font-face {
  font-family: "<%= font_name %>";
  src: asset-url("<%= @font_path_alt %>.eot");
  src: asset-url("<%= @font_path_alt %>.eot?iefix") format("embedded-opentype"),
       url("<%= woff_data_uri %>") format("woff"),
       asset-url("<%= @font_path_alt %>.ttf") format("truetype"),
       asset-url("<%= @font_path_alt %>.svg#<%= font_name %>") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "<%= font_name %>";
    src: asset-url("<%= @font_path_alt %>.svg#<%= font_name %>") format("svg");
  }
}

<%= glyph_vars_scss %>

$whiteColor: #ffffff;
$almostWhiteColor: #f3f4f7;
$grayBlackColor: #272b34;
$almostBlackColor: #191d23;
$greenColor: #08a14b;

$mediumBreakPoint: "screen and (min-width: 71px)";

body {
  margin: 0;
  overflow: hidden;
}

#apps-bar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: $grayBlackColor;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  position: relative;
  font-size: 20px;

  span {
    width: 0px;
    height: 0px;
    text-indent: -9999px;
    white-space: nowrap;
    display: block;
  }

  color: $whiteColor;
  border-bottom: 2px solid $almostBlackColor;

  a, a:hover, a:visited, a:active {
    color: inherit;
  }

  a {
    display: block;
    padding: 1.0125em 0;
    text-decoration: none;
  }

  &.active {
    background-color: $almostBlackColor;
    color: $greenColor;
    border: 0;

    &:after {
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 0;
      height: 0;
      margin-top: -5px;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid $almostWhiteColor;
      content: " ";
    }
  }

  a:before {
    display: inline-block;
    font-family: "<%= font_name %>";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.25em;
    color: inherit;
    line-height: 1em;
    text-decoration: inherit;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  <% @glyphs.map do |name, value| %>
    &.<%= name %> a:before {
      content: <%= scss_var(name) %>;
    }
  <% end %>
}

@media #{$mediumBreakPoint} {
  li {
    display: block;
    float: left;

    border: 0;
    border-right: 2px solid $almostBlackColor;

    &.active:after {
      right: auto;
      top: 0;
      left: 50%;
      margin-top: auto;
      margin-left: -5px;

      border: 0;
      border-top: 5px solid $almostWhiteColor;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }

    a {
      padding: 1.0125em;
    }
  }
}
