@font-face {
  font-family: "<%= font_name %>";
  src: asset-url("<%= @font_path_alt %>.eot");
  src: asset-url("<%= @font_path_alt %>.eot?iefix") format("embedded-opentype"),
       url("<%= woff_data_uri %>") format("woff"),
       asset-url("<%= @font_path_alt %>.ttf") format("truetype"),
       asset-url("<%= @font_path_alt %>.svg#<%= font_name %>") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "<%= font_name %>";
    src: asset-url("<%= @font_path_alt %>.svg#<%= font_name %>") format("svg");
  }
}

@mixin app-icon {
  display: inline-block;
  font-family: "<%= font_name %>";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

<%= glyph_vars_scss %>
